<h1>Editing Invoice</h1>

<% form_for(@invoice) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Update' %></p>
<% end %>

<p>
  <%= link_to 'Show', @invoice %>
  |
  <%= link_to 'Back', invoices_path %>
</p>
