<h1>Editing Client</h1>

<% form_for(@client) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Update' %></p>
<% end %>

<p>
  <%= link_to 'Show', @client %>
  |
  <%= link_to 'Back', clients_path %>
</p>
