<h1>New Contractor</h1>

<% form_for(@contractor) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Create' %></p>
<% end %>

<p><%= link_to 'Back', contractors_path %></p>
